.addBookBtn{
    background-color: transparent;
    border-color: transparent;
}

.addBookBtn:hover{
    background-color: transparent;
    border-color: #d29bfd;
}

.deleteBookBtn{
    border-color: #d29bfd;
    background-color: transparent;
    color: black;
    width: 100%;
}

.deleteBookBtn:hover{
    border-color: #d29bfd;
    background-color: #d29bfd;
    color: black;
}